# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
mysqlclient==2.1.1
flask==2.2.2
opencv-python-headless==4.6.0.66
numpy==1.23.2
flask_sqlalchemy==2.5.1
flask_bcrypt==1.0.1
flask_login==0.6.2
flask_cors==3.0.10
flask_jwt_extended==4.4.4
tensorflow_hub==0.12.0
tensorflow==2.9.2
imageio==2.21.2
matplotlib==3.5
mysqlclient==2.1.1